
<head>

  <style media="screen">

  </style>

</head>


<body>
<h1> my first Sinatra </h1>
<p>
  <b>Author:</b>
  Flo D
</p>

<%=  Date.today %>
<% if 1 == 2 %>
<h3> 1 equals 2 WTF </h3>
<% else %>
<h3> heyyy </h3>
<% end %>

</body>
