<html>
<head>
  <title>Add | Online Calculator</title>
  <link rel="stylesheet" href="/style.css" media="screen" title="Style.css" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
  <center>
    <h1>Flo's Amazing Calculator</h1>
    <form action="/result" method="POST">
    <input type="number" name="first_number" placeholder="1st number">
    <input type="number" name="second_number" placeholder="2nd number">
    <br>
    <br>
    <br>
    <div class="row result-buttons">
    <button type="submit" name="operation" value="addition">ADD</button>
    <button type="submit" name="operation" value="substraction">SUBSTRACT</button>
    <button type="submit" name="operation" value="multiplication">MULTIPLY</button>
    <button type="submit" name="operation" value="division">DIVIDE</button>
  </div>
  <img src="abacus.png">
</img>

  </br>
  </center>
</body>
