<html>
<head>
  <title>Add | Online Calculator</title>
  <link rel="stylesheet" href="/style.css" media="screen" title="Style.css" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
  <h1>Your results have been saved!</h1>
  <a href="/">
  <div class="operation-buttons">
  <button type="button" name="backtohome"> Back to calculator</button>
  </div>
  </a>
</body>
