<h3>Welcome!</h3>
<h3>If you want to create a new profil, please type in your details below:</h3>
<form action="/createprofil" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button type="submit" name="operation" value="submitted">Submit</button>
</form>
