


<center>
<form action="/input" method="POST">
<input type="text" name="input" placeholder="Searchinput">
<button type="submit" name="confirm" value="pressed">SEARCH!</button>

</form>
 <img class = "gif" src="waitingkid.gif">
 </center>



</body>
