<body>
  <center>
    <h1>Type in your login details</h1>
    <form action="/log" method="POST">
      <input type="email" name="email" placeholder="example@domain.com">
      <input type="password" name="password" placeholder="password">
      <button type="submit" name="operation" value="submitted">Submit</button>
    </form>

  </center>
</body>
