<h1>Welcome <%=@user%> to your ToDo Organiser</h1>
<h3>Click here to display your tasks:</h3>
<form action="/task" method="GET">
  <button type="submit" name="operation" value="submitted">Show Tasks</button>
</form>
