

 @import "bootstrap-sprockets";
@import "bootstrap";
@import "movies.scss";

img {
  width: 100%
}

.all_movies {
   display: flex;
   flex-wrap: wrap;
   align-content: stretch;
}

.movie {
    max-width: 28%;
    background: #f5f5f7;
    margin: 10px;
    padding: 10px;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
  padding: 100px;
}

h1{
  color:#AD4040;
  font-size:62;
}

.comments {
  margin: 10px;
  height: 40%;
  display: flex;
  flex-direction: column;
}

.comment {
  display: flex;
  padding-top: 20px;
  background-color: grey;
}

.newcomment {
  margin: 10px;
  height: 40%;
  display: flex;
  flex-direction: column;
}
.newcomment1 {
  margin-top: auto;
  margin-bottom: 10px;
   min-width: 100%;
}


.row {
    flex-direction: row;
    display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  align-items: stretch
}
