header {
 height: 100px;
 width: 100%;
 text-align: center;
 color: rgb(222, 219, 219);

}

footer {
 height: 100px;
 width: 100%;
 text-align: center;
 color: rgb(222, 219, 219);
 padding-top: 50px;
}

body {
 background-color: #FFFF66;
 font-family: arial;
}
